@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #EFF0F3;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* Custom for lucide icons */
/* .lucide {
  color: #9F9F9F;
  width: 20px;
  height: 20px;
  stroke-width: 1.5px;
} */

/* Antd Form */
.ant-form .ant-form-item-label {
	padding: 0 0 0 !important;
}

.ant-form-item-label label {
	font-size: 14px !important;
	font-weight: 500;
	color: #6B7280 !important;
}

.ant-form .ant-form-item {
	margin-bottom: 16px;
}

/* Antd Tooltip */
.ant-tooltip .ant-tooltip-inner {
	color: #6B7280 !important;
	font-size: 12px;
}